{% extends "index.html" %}
{% block content %}
<a href="javascript:history.back()" class="btn btn-dark">Back</a>
<h1 align="center">Enter your credentials to sign-up.</h1>]
<form method="POST" action="/doctorSignup">
    <div class="container">
    <div class="badge badge-dark text-wrap" style="width: 10rem; font-size: 1.2rem;">
        Enter full name
      </div> <br>
        <input type="text" class="form-control" name="dName" placeholder="Full name">
       <br>
    <div class="badge badge-dark text-wrap" style="width: 10rem; font-size: 1.2rem;">
        Enter email
      </div> <br>
      <label for="email">
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
      </label>
      <br>
    <div class="badge badge-dark text-wrap" style="width: 10rem; font-size: 1.2rem;">
        Enter password
      </div> <br>
      <label for="password1" >
      <input type="password" class="form-control" name="dPassword1" id="password1" placeholder="Password">
      </label>
      <br>
      <div class="badge badge-dark text-wrap" style="width: 20rem; font-size: 1.2rem;">
        Confirm password
      </div> <br>
      <label for="password2" >
      <input type="password" class="form-control" name="dPassword2" id="password2" placeholder="Confirm assword">
      </label>
      <br>
      <button type="submit" class="btn btn-dark">Sign up</button>
    </div>   
  </form>
  {% endblock content %}  